<!DOCTYPE html>
<style type="text/css">
  .brand-logo{
    margin-left: 10px;
    color: #d50000; 
  }
  body{
    background-color: #d3d3d3;
  }
  .
</style>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Test</title>
    </head>

    <body>
      <nav class="nav-extended black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo red-text" >FitBook</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout" style="color:#d50000">Log Out</a></li>
      </ul>
    </div>
    <div class="nav-content red accent-4">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#">Dashboard</a></li>
        <li class="tab"><a href="/workouts">Workouts</a></li>
        <li class="tab"><a href="/forum">Forum</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Dashboard</a></li>
    <li><a href="/workouts">Workouts</a></li>
    <li><a href="/forum">Forum</a></li>
  </ul>

  <div class="container ">
    <div class ="row">
    <h5 class="center">Welcome back {{current_user.username}}....here's what you missed:</h4>
    </div>
    <div class="divider"></div>
    <div class ="center container">
      
        
          {%for a in acts%}
          
            {%if a.type == 'p'%}
              <div class="row">
              <h6>"<span class="red-text">{{a.name}}</span>" made a new post in discussion:{{a.topic}}<h6>  
                <div class="divider">
                </div>
                 {%elif a.type == 't'%}
              <div class="row">
              <h6>"<span class="red-text">{{a.name}}</span>"  started a new discussion: "{{a.topic}}"<h6>  
                <div class="divider">
                </div>
              {%elif a.type == 'w'%}
              <div class="row">
              <h6>"<span class="red-text">{{a.name}}</span>" created a new workout:"{{a.topic}}"<h6>  
                <div class="divider">
                </div>
             
                
            {%endif%}
            <div class ="row"></div>
            {%endfor%}

    </div>
      
      </div>
    </div>


      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
        